body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(#1a1a1a, #000000);
  color: #eee;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(to right, #0ff, #00f);
  color: black;
  box-shadow: 0 0 30px #00f;
}

header h1 {
  font-size: 3rem;
  margin: 0;
  text-shadow: 0 0 10px #0ff;
}

header p {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
}

.projects {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.projects h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 30px;
  color: #0ff;
  text-shadow: 0 0 10px #0ff;
}

.card {
  background: #111;
  border: 1px solid #333;
  box-shadow: 0 0 15px #0ff80;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #0ff;
}

footer {
  text-align: center;
  padding: 30px 20px;
  color: #ccc;
  background: #050505;
  font-size: 0.9rem;
}

